streamlit==1.51.0

# Compatible LangChain stack
langchain==0.2.11
langchain-core==0.2.20
langchain-community==0.2.6
langchain-text-splitters==0.2.2

# LLM Providers
langchain-openai==0.1.7
langchain-groq==0.1.3

# Embeddings + HF
huggingface-hub==0.24.6
sentence-transformers==2.2.2

# File processing
pypdf
PyMuPDF

# Utilities
python-dotenv
validators
tiktoken
requests
yt-dlp

